<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>585429366147-cjvks7ge2ha0fuvkecoaipshr5s79q2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585429366147-cjvks7ge2ha0fuvkecoaipshr5s79q2h</string>
	<key>API_KEY</key>
	<string>AIzaSyD6QCI1yykf5pe2DGRiKoUTd6SeV52nH_M</string>
	<key>GCM_SENDER_ID</key>
	<string>585429366147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applinco.Chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-6341a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-6341a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:585429366147:ios:1699ce7648ab32ed</string>
	<key>DATABASE_URL</key>
	<string>https://chatty-6341a.firebaseio.com</string>
</dict>
</plist>